streamlit
pypdf
unstructured
langchain==0.0.276
PyPDF2==3.0.1
openai
langchain-community
langchain-openai
python-dotenv
chromadb==0.4.8
streamlit-chat
streamlit_authenticator
streamlit_extras==0.4.0
tiktoken
pip install 'pysqlite3-binary'
