streamlit==1.26.0
pypdf
unstructured
langchain
PyPDF2==3.0.1
openai
langchain-community
langchain-openai
python-dotenv
chromadb
streamlit-chat
pysqlite3-binary
streamlit_authenticator
streamlit_extras==0.4.0
tiktoken
faiss-cpu
